{% extends 'news/base.html' %}
{% load static %}

{% block content %}
    <h1 style="text-align: center">Sizning profilingiz</h1>


      <div id="div">
        <img id="img" src="{{ profile.photo }}" alt="">
        <div class="about">
            <h1><label style="margin-top: 15px">Username: </label><input value="{{ user.username }}" readonly placeholder="kiritilmagan"></h1>
            <h1><label style="margin-top: 15px">First-Name: </label><input value="{{ user.first_name }}" readonly placeholder="kiritilmagan"></h1>
            <h1><label style="margin-top: 15px">Last-Name: </label><input value="{{user.last_name }}" readonly placeholder="kiritilmagan"></h1>
            <h1><label style="margin-top: 15px">Email: </label><input value="{{ user.email }}" readonly placeholder="kiritilmagan"></h1>
            <h3><a href="{% url 'profile_edit' %}">Profilni o'zgartirish</a></h3>

        </div>
      </div>


    <span style="display: flex; justify-content: space-around">
        <h3><a href="{% url 'logout' %}">LogOut</a></h3>
        <h3><a href="{% url 'password-change' %}">Parolni o'zgartirish</a></h3>
        <h3><a href="{% url 'password-reset' %}">Parolni qayta tiklash</a></h3>
    </span>






{% endblock content %}