<style>
.comment{
    width: 65vw;
    height: auto;
    border: none;
    background-color: #ebeaea;
    padding: 20px;
    border-radius: 30px;
    margin: 30px;
    position: relative;
    left: 5vw;
}
.data p{
    text-align: left;
    font-size: 1.3vw;
    font-weight: bolder;
    color: #3f4242;
    margin-bottom: 30px;
}

.body{
    display: flex;
    justify-content: space-between;
}
.user{
    font-size: 1.5vw;
    font-weight: 900;
    position: relative;
    bottom: -0.3vw;
}


#h3{
    font-size: 1vw;
}
.hr{
    width: 76vw;
    margin: 10px;
    height: 1px;
    background-color: #2f2f2f;
}
span img{
    object-fit: cover;
    object-position: center center;
}
.col-31{
    width: 15vw;
    display: flex;
    justify-content: left;
    margin-left: 5vw;

}
.user-image{
    width: 3vw;
    height: 3vw;
    border-radius:50% ;
}
.username{
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-top: 0.3vw;
    font-family: "DejaVu Sans Mono";
    color: #a907ff;
    font-weight: bolder;
}
.comment-2{
    display: flex;
}
.body{
    margin-top: 1vw;
    font-size: 1.1vw;
    color: #575b57;
}
.c-time{
    margin-top: 2vw;
    text-align: right;
    margin-left: 30vw;
    color: #00acee;
    font-size: 1vw;
}
.col-32{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border: none;
}
.comment-form textarea{
    padding: 1vw;
    font-size: 1.5vw;
    border: none;
    border-radius: 20px;
    margin-top: 1vw;
    color: #2b542c;
    outline: none;
    font-family: "Cambria Math";
}


</style>
{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load tz %}
{% block content %}

    <span class="detail" style="text-align: center; ">
        <h1>{{ news.title }}</h1>
        <img src="{{ news.image.url }}" alt="" style="margin-bottom: 50px; width: 100%">
        <p style="font-family: sans-serif; font-size: 21px;" >{{ news.body }}</p>
        <div class="time_icon" style="display: flex; justify-content:space-around; margin-top: 40px; margin-bottom: 30px">
            <h4> <i class="fa-solid fa-calendar-days fa-xl"></i> : {{ news.publish_time }} </h4>
            <h4><i class="fa-sharp fa-solid fa-eye"></i> : {% get_hit_count for news %}</h4>
        </div>
        {% if request.user.is_authenticated and request.user.is_superuser %}
            <div style="text-align: center">
            <a class="btn btn-green" href="{% url 'edit' news.id %}">Tahrirlash</a>
            <a class="btn btn-blue" href="{% url 'delete' news.id %}">O'chirish</a>
        </div>
        {% endif %}
        <div class="hr"></div>

    {% for comment in comments %}

         <div class="comment">
            <div class="data">
                <p>{{ comment.body|truncatewords:30 }}</p>
            </div>
            <div class="body">
                <span>
                    <a><i class="fa-sharp fa-solid fa-user-secret fa-2xl"></i> : <a class="user">{{ comment.user }}</a></a>
                </span>
                <h3 id="h3">Yozilgan vaqti: {{ comment.created_time }}</h3>
            </div>
        </div>
    {% endfor %}

        {% if user.is_authenticated %}
            <div>
                <h3>Commentariya qoldirishni xoxlasangiz, Pastdagi formani to'ldirirng</h3>
                <form method="POST" class="comment-form" action="{% url 'comment' news.id %}">{% csrf_token %}
                {{ comment.as_p }}
                <button type="submit" class="btn btn-primary">Yuborish</button>
                </form>
            </div>

        {% else %}
         <h3>Agar sytda accountingiz bo'lmasa izoh qoldira olmaysiz. Ro'yxatdan o'tishingiz yoki accountingiz bo'lsa kirish orqali kiring</h3>
        <a href="{% url 'login' %}">Kirish uchun</a>
        <a href="{% url 'signup' %}">Ro'yxatdan o'tish uchun</a>
        {% endif %}


        {% for i in news.comments.all %}
            <div class="comment">
                <div class="comment-2">
                    <div class="col-31">
                        <img class="user-image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="Profile">
                        <p class="username">{{ i.user.username }}</p>
                    </div>
                    <div class="col-32">
                        <p class="body">{{ i.body }}</p>
                        <p class="c-time">{{ i.created_time|timezone:"Asia/Tashkent" }}</p>
                    </div>
                </div>

            </div>

        {% endfor %}








   </span>

{% endblock content %}
