{% extends 'news/base.html' %}
{% load static %}
{% block content %}

    {% for sp in sport %} {# sp --> sport #}
        <div style="margin-bottom: 35px" class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'news_detail' sp.pk %}"> <img style="width: 100%" src="{{ sp.image.url }}"> </a>
                </div>
                <div class="col-sm-8">
                    <a href="{% url 'news_detail' sp.pk %}"><h2 >{{ sp.title|truncatewords:7 }}</h2></a>
                    <br>
                    <h4>{{ sp.body|truncatewords:35 }}</h4>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}